/TorrentzFilmes/build*
/TorrentzFilmes/manifest.mf
/TorrentzFilmes/nbproject/
/TorrentzFilmes/test/
/EmailService/build*
/EmaliService/manifest.mf
/EmailService/nbproject/
/TorrentzFilmes/dist/TorrentzFilmes.jar
/TorrentzFilmes/dist/